<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://nck.cc" target="_blank"
    >
      NCK.CC
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://nck.cc" target="_blank"
    >
      2024
    </a>
    {import.meta.env.PARTNER_LINK && import.meta.env.PARTNER_LINK_TITLE && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE}
        </a>
      </>
    )}
  </p>
</footer>
